doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MWF POS
    link(rel="stylesheet" href="/css/pos.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin='')
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet")

  body
    .container
      .header
        .brand
          img.logo(src="/images/mwf-logo.png" alt="MWF Logo")
          h1 Mayondo Wood & Furniture
          p POS Terminal

      .main
        section#products-grid.products
          h3.text-success Product List
          .products-list
            each item in stockRecords
              .product-card.product(
                data-id=item._id 
                data-name=item.name 
                data-price=item.price
              )
                h5.title #{item.name}
                p.meta Type: #{item.type}
                p.price UGX #{item.price.toLocaleString()}
                button.btn.btn-add(type="button") Add to Cart

        aside.cart
          h3.text-success Cart
          ul#cartList.cart-list
          p#emptyMsg.empty Cart is empty
          .totals
            .total-row
              span.total-label Subtotal
              span#subtotal.total-amount UGX 0
            .total-row
              span.total-label Transport (5%)
              span#transport-fee.total-amount UGX 0
            .total-row.grand-total
              span.total-label Total
              span#total.total-amount UGX 0
          .checkout-row
            button#checkout-btn.btn.btn-pay Checkout
            button.btn.btn-print(onclick='window.print()') Print Receipt

    script(src="/js/pos.js")
